
<div class='row'><div class='span12'><h3>
  <% if @parent_category  %>
  <%= link_to @parent_category['name'], category_path(@parent_category) %> - 
  <% end %>

  <%= link_to @category['name'], category_path(@category) %> </h3></div></div>

<div class='row top-buffer'><div class='span12'><h4><%= @ad.detail.name %></h4></div></div>
<div class='row'>
  <div class="span4">
  <%= @ad.city.name %>,<%= @ad.state.name %>
  </div>
  <div class='span2'><%= time_ago_in_words( @ad.created_at ).gsub(/about/,"") %> ago</div>
   <div class='span3'>Number Advertisement: <% @ad.id %> </div>
   <div class='span2'>Stock unlimited</div>
   <div class='span1'>Views: 0</div>
</div>

<div class='row top-buffer'>
  <div class="span8">
  <p>
  <% if @ad.images.size > 0 %>
  <center><%= image_tag @ad.images.first.image.url %></center>
  <br>
  <% @ad.images.each do |img|  %>
  <%= image_tag img.image.url(:thumb) %>
  <% end %>
  </p>
  <p>
    <%= stripe_unallowed_tags(@ad.detail.description).html_safe %>
  </p>
  <% end %>
  </div>
  <p></p>
  <div class='span4'>
<h4>Price: Rp <%= @ad.price %></h4>
<p>
  <% if @ad.user %>
User: <%= @ad.user.name %><br>
Member Since: <%= @ad.user.created_at.strftime("%d-%m-%Y") %> </p><br>
<% else %>
User: Anonimous<br>
<% end %>
<a href=""> <h5>Send mail</h5> </a><br>
<p>
<img src="http://maps.google.com/maps/api/staticmap?size=255x305&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= @ad.city.name %>,<%= @ad.state.name %>, Indonesia&markers=color:purple|" alt="Static, Marked Map of Chicago, Illinois and Hammond, Indiana with no Center and Zoom"><p>

<a href="https://maps.google.com/maps?q=<%= @ad.city.name %>,<%= @ad.state.name %>, Indonesia&hl=en&sll=,&hnear=Yogyakarta, Yogyakarta, Indonesia&z=14" class="" target="_blank">View big map</a> </p>

share links blog will be here...

  </div>


 </div>
