<div id='products'>
  <div class="product-info-block product-add-block clearfix">
<form id="ProductsIndexForm" method="post" action="/products"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST" /><input type="hidden" name="data[_Token][key]" value="769f2ba3ff0d0c2be39b3a2713096a2142435014" id="Token1898118217" /></fieldset>
  <div class="view-top clearfix" style='height:45px;'>
    <div class="list clearfix" style='margin-bottom:-0.5px;'>
      <div class="js-tabs view-top-list-block">
        <ul class="ad_types_block clearfix">
          <li <% if @ad_type == nil %> class='selected' <% else %>  class='not_selected'  <% end %> ><a  id="count_all" href="<%= current_url(:ad_type => "all") %>" rel="">All listed <span>19660</span></a></li>
          <li <% if @ad_type == 1 %> class='selected' <% else %>  class='not_selected' <% end %>><a  id="count_new" href="<%= current_url(:ad_type => "new") %>" rel="1">New <span>3998</span></a></li>
          <li <% if @ad_type == 2 %> class='selected' <% else %>  class='not_selected' <% end %>><a  id="count_second" href="<%= current_url(:ad_type => "second") %>" rel="2">Second <span>15584</span></a></li>
          <li <% if @ad_type == 3 %> class='selected' <% else %>  class='not_selected' <% end %>><a  id="count_searched" href="<%= current_url(:ad_type => "searched") %>" rel="3">Searched <span>78</span></a></li>
        </ul>
      </div>

      <div class="add-pic-block">
        <div class="input checkbox">
          <input type="hidden" name="data[Products][Ad with Pictures]" id="filter_by_pictures_" value="0" />
          <input type="checkbox" name="data[Products][Ad with Pictures]" id="filter_by_pictures"  value="1" />
          <label for="filter_by_pictures" style='font-size:11px;'>Ad With Pictures</label>
        </div>
      </div>

    </div>

    <div class="sort-block">
      <div class="input select">
        <label for="sort_products">Sort </label>
        <select name="data[Products][Sort ]" id="sort_products">
          <option value="0">Select</option>
          <option value="1">A-&gt;Z</option>
          <option value="2">Z-&gt;A</option>
          <option value="3">Price Low to High</option>
          <option value="4">Price High to Low</option>
        </select>
      </div>
    </div>
    <div class="display-block">
      <h5>Display</h5>
      <ul class="display-list" style='margin: 5px 0 1px 25px;'>
        <li class = '<% if @view == "table" %> active <% end %>'><a href="<%= current_url(:view => "table") %>" title="View products in list view" id="view_in_list">list view</a></li>
        <li class="grid-view <% if @view == "grid" %>active<% end %>"><a href="<%= current_url(:view => "grid") %>" title="View products in grid view" id="view_in_grid">grid view</a></li>
      </ul>
    </div>
  </div>
  <div class="dollar clearfix">
     <!-- Bread Crumb Starts-->
    <h2 class="links">
      <a href='http://jualo.com/'>Home</a>
      <a href='javascript:;' onclick='breadcrumb_filter(40,0)'><span id='link_arrow' class="c">Property</span></a>
    </h2>
      <!-- Bread Crumb ends-->
    <div class="paging_counter-block">
    <!-- <div class="page_info">
      <%#= page_entries_info @ads %>
    </div> -->
      <p class="page-counter">
        Page <%= params[:page] || '1' %> of <%= @ads.total_pages %>, showing <%= params[:per_page] || '30' %> records out of <%= @ads.count %> total, starting on record <%= @ads.offset + 1 %>, ending on <%= @ads.offset + 1 + (params[:per_page].blank? ? 30 : params[:per_page].to_i) %>
      </p>
    </div>
  </div>

  <% if @view == "table" %>
  <%= render '/categories/table_view', :ads => @ads %>
  <% else %>
  <%= render '/categories/grid_view', :ads => @ads %>
  <% end %>
   <div class="js-pagination">
                <div class="paging">
                  <%= will_paginate @ads %>
              </div>
</div>
  <p class="view-page-info"> View this page in    <a href="/products/c:40.rss" target="_blank">RSS
</a>  </p>
  <fieldset style="display:none;"><input type="hidden" name="data[_Token][fields]" value="fae2161f6dc738488587895730584d85f08a4af6%3An%3A0%3A%7B%7D" id="TokenFields1630198109" /></fieldset></form>
                                  </div>
                                <!--   -->







</div>

</div>
</div>
</div>