<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Jualo" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body class='body' >
    <div class="container shadow" style='padding:0;'>
    <div class="" style='padding:0 25px 20px 20px;background: url("/assets/title-bg.png") repeat-x scroll left bottom #FFFEFA;'>
    <div class="orange_line">
        </div>
      <div class="row top-margin ">
        <div class="span2 offset0 nohover logo_image_div">
          <%= link_to image_tag("logo.png", :class => "logo_image"), root_path() %> 
        </div>
       <div class="span9 layout_upper_div" >
 
                <div class='upper_buttons_layout_div' style='z-index:1'>
                <span class='custom_top_button'>
                 <% if current_user == nil %>
               <%= link_to 'Login', user_omniauth_authorize_path(:facebook), :class => "button_small new_button_bg" %>
                  <% else %>
                  Welcome <%= current_user.name %>! <%= link_to "My account", user_path(current_user) %> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                  <% end %>
                </span>
               
                  <span class='custom_top_button'>
                    <a href="#" class='new_button_bg button_small' >
                      <span>
                        Pasang iklan Gratis
                        <%= image_tag '/assets/vertical_line.png', :style => 'height:34px;margin:0px 3px 0 0;' %>
                        <%= image_tag '/assets/right_arrow.png', :style => 'height:25px;margin-top:-3.5px;' %>
                      </span>
                    </a>
                  </span>

                </div>

        <div class="row-fluid search_box" style='float:right;max-width:710px;min-height:45px;padding:3px;'>
          <center  class='seach_icon'style='margin:14px 5px 0 8px;float:left;width:10px !important'><i class="icon-search"></i></center>
          <p class='layout_search_field_1'><%= text_field_tag  "keyword", nil, :placeholder => "Start searching",:class => '', :style => 'height:28px;width:95%;margin:0;' %></p>
          <p class='layout_search_field_2 styled-select2'><%= select_tag "state", options_from_collection_for_select(State.all, "id", "name"), :prompt  => "Select province",:class => '', :style => 'outline: none;margin:0;' %></p>
          <p class='layout_search_field_3 styled-select2'><%= select_tag "category", options_from_collection_for_select(Category.where('parent = 1'), "id", "name"), :prompt  => "Select category",:class => 'my_select', :style => 'outline: none;margin:0;' %></p>
          <button class="btn layout_sell_button" id='new_button_bg' type="button" >Cari</button>
        </div>


 
        </div>

      </div>
        <!-- <div class="">
          <div class="" style='margin:5px auto'>
      <div class="dotted_limiter">
         .

      </div>
      </div>
      </div> -->


        <div class="row">
          <div class="span12">
            <%= bootstrap_flash %>
          </div>
      </div>
    </div>

    <%= yield %>


      <div id="footer">
        <div class="footer-inner container_12 clearfix">
          <div class="clearfix">
            <div class="row-fluid">
            <div class="span4">
              <h6>About Us</h6>
                <p><p style="text-align: left;">Jualo.com adalah pusat jual beli online termudah dan tercepat di Indonesia. Pasang iklan di Jualo hanya perlu 1 menit saja dan iklan anda langsung online.a. Pasang iklan di Jualo hanya perlu 1 menit saja a. Pasang iklan di Jualo hanya perlu 1 menit saja </p></p>
            </div>
            <div class="span2">
              <h6>Navigation</h6>
              <ul class="about" style='margin: 0 0 10px 0;'>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/page/about" title="Tentang Kami">Tentang Kami</a></li>
                <li><a href="/page/services" title="Services">Services</a></li>
                <li><a href="/page/sitemap" title="Sitemap">Sitemap</a></li>
                <li><a href="/contact" class="js-thickbox" title="Hubungi Kami">Hubungi Kami</a></li>
              </ul>
            </div>
            <div class="span2">
              <h6>Follow us on</h6>
              <ul class="twitter clearfix" style='margin: 0 0 10px 20px;'>
                <li class="face"><a href="http://facebook.com/jualocom" target="_blank" title="Ikuti saya di Facebook">Facebook</a></li>
                <li class="twit"><a href="http://twitter.com/productmicropay" target="_blank" title="Ikuti saya di Twitter">Twitter</a></li>
              </ul>
              <h6>Other links</h6>
              <ul class="about" style='margin: 0 0 10px 20px;'>
                <li><a href="/page/terms" title="Term">Term</a></li>
                <li><a href="/page/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="span2">
              <h6>Contact Us</h6>
              <ul class="contact-links clearfix" style='margin: 0 0 10px 20px;'>
                <li class="phone"><a href="#" title="1-875-216-9212">1-875-216-9212</a></li>
                <li class="mail"><a href="mailto:info@joalo.com" title="info@joalo.com">info@joalo.com</a></li>
              </ul>
            </div>
            <div class="span2">
              <div style ='width:90%;max-width:160px;'>
                <h6 class="footer-logo" style='margin-top: -10px;'><a href="/" title="  Jual dalam 1 menit" class=""><%= image_tag '/assets/footer-logo.png'%></a></h6>
                <div class="clearfix" id="agriya">
                  <p>&copy;2013 <a href="http://jualo.com/" title="Jualo">jualo.com</a>. <br />All rights reserved.</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  </div> <!-- /container -->
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      $("#view_more_provinces").click(function(){
        if($("#view_more_provinces").html()=="See all Provinces"){
          $("#view_more_provinces").html("See less Provinces");
          document.getElementById("view_more_provinces").className="up-arrow";
        }
        else{
          $("#view_more_provinces").html("See all Provinces");
          document.getElementById("view_more_provinces").className="";
        }
        $("#more_provinces").slideToggle("slow");
      });
      $("#view_more_category").click(function(){
        if($("#view_more_category").html()=="See all Categories"){
          $("#view_more_category").html("See less Categories");
          document.getElementById("view_more_category").className="up-arrow";
        }
        else{
          $("#view_more_category").html("See all Categories");
          document.getElementById("view_more_category").className="";
        }
        $("#more_Categories").slideToggle("slow");
      });
    </script>
  </body>
</html>
