<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Jualo" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body class='body'>
    <div class="container left_shadow" style='padding:0;'>
    <div class="" style='padding:0 25px 20px;background: url("/assets/title-bg.png") repeat-x scroll left bottom #FFFFFF;'>

      <div class="" style='weight:100%;margin:0 auto;'>
        <div class="orange_line"></div>
      </div>

      <div class="row top-margin">
        <div class="span2 offset0 nohover">
          <%= link_to image_tag("logo.png", :class => "logo_image"), root_path() %>
        </div>
       <div class="span9" style='float:right;'>
          <div class="row top-margin"  style='height:30px;'>
             <!-- <div class="span2 offset2 top-margin">
                  <b>Language:</b>
              </div> -->
              <div class="" style='float:right;'>
                <div style='width:100%'>
                  <!-- <div class="btn-group  pullright">
                    <%#= link_to '<button class="btn btn-primary ">Start Selling</button>'.html_safe, new_ad_path() %>
                    <button class="btn btn-primary  dropdown-toggle">
                    <span class="caret"></span>
                    </button>
                  </div> -->
                  <div id='custom_top_button'>
                    <a href="#" id='new_button_bg' style='padding: 8px 10px 8px 10px; margin: 5px 0;box-shadow: 0 3px 5px rgba(0,0,0,0.5);' >Pasang iklan Gratis
                      <span>
                        <%= image_tag '/assets/vertical_line.png', :style => 'height:34px;margin:-2px 3px 0 0;' %>
                        <%= image_tag '/assets/right_arrow.png', :style => 'height:25px;margin-top:-5px;' %>
                      </span>
                    </a>
                  </div>
                </div>
               </div>
            </div>


          <div class="row top-margin">
            <div class='span8 offset1'>
              <div class='search_box'>
                <div class="row-fluid">
                  <form>
                    <div class='span4'>
                      <div class="row-fluid">
                        <div class='span2 hidden-phone'>
                          <center style='margin-top:9px'><i class="icon-search"></i></center>
                        </div>
                        <div class='span10'>
                          <%= text_field_tag  "keyword", nil, :placeholder => "Start searching",:class => 'search_input_text' %>
                        </div>
                      </div>
                    </div>
                  <div class='span3 styled-select1'>
                    <%= select_tag "state", options_from_collection_for_select(State.all, "id", "name"), :prompt  => "Select province",:class => 'search_input' %>
                  </div>
                  <div class='span3 styled-select1'>
                    <%= select_tag "category", options_from_collection_for_select(Category.where('parent = 1'), "id", "name"), :prompt  => "Select category",:class => 'search_input' %>
                  </div>
                  <div class='span2'>
                     <button class="btn search_button_layout" id='new_button_bg' type="button">Cari</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
        </div>




        </div>

      </div>
        <!-- <div class="">
          <div class="" style='margin:5px auto'>
      <div class="dotted_limiter">
         .

      </div>
      </div>
      </div> -->


        <div class="row">
          <div class="span12">
            <%= bootstrap_flash %>
            <%#= yield %>
          </div>
</div></div>


        <div class="home-category-block map-region-block clearfix" style='padding:0 25px;'>
                      <div class="sub-heading-block clearfix">
                        <h2 class="main-province-title">Pilih Lokasi</h2>
                        <div class="clearfix"> <span class="more-categories-block"> <a href="javascript:;" id="view_more_provinces" >See all Provinces</a> </span> </div>
                      </div>
                      <div class="AreaList">
                        <div class="region-list-block clearfix">
                          <div id="more_provinces" style="display:none;">
              <div class="RegionList">
                              <div class="RegionBox clearfix"> <a id="area_1" onMouseOver="change_image(1,1);" onmouseout="hide_image(1,1);" alt="BALI: Denpasar, Singaraja, Kuta, Ubud, Sanur, Nusa Dua" title="BALI: Denpasar, Singaraja, Kuta, Ubud, Sanur, Nusa Dua" href="products/pv:11" xtclib="index_BALI_text">Bali</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_2" onmouseover="change_image(2,1);" onMouseOut="hide_image(2,1);" alt="BANTEN: angerang, Serang, Cilegon, Anyer, Carita, Pandeglang, Rangkasbitung" title="BANTEN: Tangerang, Serang, Cilegon, Anyer, Carita, Pandeglang, Rangkasbitung" href="products/pv:7" xtclib="index_BANTEN_text">Banten</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_3" onMouseOver="change_image(3,1);" onmouseout="hide_image(3,1);"  alt="BENGKULU: Bengkulu" title="BENGKULU: Bengkulu" href="products/pv:15" xtclib="index_BENGKULU_text">Bengkulu</a> </div>
                            </div>
                            <div class="RegionList">
                              <div class="RegionBox clearfix"> <a id="area_5" onmouseover="change_image(5,1);" onMouseOut="hide_image(5,1);"  alt="DKI: Jakarta" title="DKI: Jakarta" href="products/pv:49" xtclib="index_DKI_text">DKI Jakarta</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_7" onMouseOver="change_image(7,1);" onmouseout="hide_image(7,1);"  alt="JABAR: Bandung, Bogor, Garut, Tasikmalaya, Bekasi, Cimahi, Cirebon, Depok, Sukabumi" title="JABAR: Bandung, Bogor, Garut, Tasikmalaya, Bekasi, Cimahi, Cirebon, Depok, Sukabumi" href="products/pv:4" xtclib="index_JABAR_text">Jawa Barat</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_8" onMouseOver="change_image(8,1);" onmouseout="hide_image(8,1);"  alt="JATENG: Semarang, Magelang, Surakarta, Salatiga, Pekalongan, Tegal" title="JATENG: Semarang, Magelang, Surakarta, Salatiga, Pekalongan, Tegal" href="products/pv:6" xtclib="index_JATENG_text">Jawa Tengah</a> </div>
                            </div>
                            <div class="RegionList">
                              <div class="RegionBox clearfix"> <a id="area_9" onmouseover="change_image(9,1);" onMouseOut="hide_image(9,1);"  alt="JATIM: Surabaya, Batu, Blitar, Kediri, Madiun, Malang, Mojokerto, Pasuruan, Probolinggo, Surabaya" title="JATIM: Surabaya, Batu, Blitar, Kediri, Madiun, Malang, Mojokerto, Pasuruan, Probolinggo, Surabaya" href="products/pv:5" xtclib="index_JATIM_text">Jawa Timur</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_4" onmouseover="change_image(4,1);" onMouseOut="hide_image(4,1);"  alt="DIY: Yogyakarta" title="DIY: Yogyakarta" href="products/pv:8" xtclib="index_DIY_text">DI Yogyakarta</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_13" onMouseOver="change_image(13,1);" onmouseout="hide_image(13,1);"  alt="NTB: Matarman, Bima, Kepulauan Gili, Kuta Lombok, NTT: Kupang" title="NTB: Matarman, Bima, Kepulauan Gili, Kuta Lombok, NTT: Kupang" href="products/pv:30,31" xtclib="index_NTB_NTT_text">Nusa Tenggara</a> </div>
                            </div>
                            <div class="RegionList">
                <div class="RegionBox clearfix"> <a id="area_17" onmouseover="change_image(17,1);" onMouseOut="hide_image(17,1);"  alt="SULUT: Manado, Bitung, Tondano, GORONTALO: Gorontalo, SULTENG: Palu, Toli-Toli, Poso, Donggala, Buol" title="SULUT: Manado, Bitung, Tondano, GORONTALO: Gorontalo, SULTENG: Palu, Toli-Toli, Poso, Donggala, Buol" href="products/pv:40" xtclib="index_SULUT_GORONTALO_SULTENG_text">Sulawesi Utara</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_16" onMouseOver="change_image(16,1);" onmouseout="hide_image(16,1);"  alt="SULBAR: Polewali, Majene, Mamuju, SULSEL: Makassar, Pare-Pare, Tana Toraja, Palopo, SULTENGG: Kendari, Wakatobi, Bau Bau" title="SULBAR: Polewali, Majene, Mamuju, SULSEL: Makassar, Pare-Pare, Tana Toraja, Palopo, SULTENGG: Kendari, Wakatobi, Bau Bau" href="products/pv:10" xtclib="index_SULBAR_SULSEL_SULTENGG_text">Sulawesi Selatan</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_18" onmouseover="change_image(18,1);" onMouseOut="hide_image(18,1);" alt="SUMBAR: Padang, Bukittinggi, Padang Panjang, Pariaman, Payakumbuh, Sawahlunto, Solok" title="SUMBAR: Padang, Bukittinggi, Padang Panjang, Pariaman, Payakumbuh, Sawahlunto, Solok" href="products/pv:41" xtclib="index_SUMBAR_text">Sumatera Barat</a> </div>
                            </div>
                            <div class="RegionList">
                              <div class="RegionBox clearfix"> <a id="area_12" onmouseover="change_image(12,1);" onMouseOut="hide_image(12,1);"  alt="NAD: Banda Aceh, Langsa, Lhokseumawe, Sabang" title="NAD: Banda Aceh, Langsa, Lhokseumawe, Sabang" href="products/pv:12" xtclib="index_NAD_text">Nanggroe Aceh Darussalam</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_6" onMouseOver="change_image(6,1);" onmouseout="hide_image(6,1);"  alt="JAMBI: Jambi" title="JAMBI: Jambi" href="products/pv:18" xtclib="index_JAMBI_text">Jambi</a> </div>
                            </div>
                            <div class="RegionList">
                <div class="RegionBox clearfix"> <a  id="area_11" onMouseOver="change_image(11,1);" onmouseout="hide_image(11,1);"  alt="LAMPUNG: Bandar Lampung, Metro" title="LAMPUNG: Bandar Lampung, Metro" href="products/pv:27" xtclib="index_LAMPUNG_text">Lampung</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_10" onmouseover="change_image(10,1);" onMouseOut="hide_image(10,1);"  alt="KALBAR: Pontianak, Singkawang, Ketapang, KALTENG: Palangkaraya, Sampit, KALSEL: Banjarmasin, Banjarbaru, KALTIM: Samarinda, Tarakan, Balikpapan, Bontang, Nunukan" itle="KALBAR: Pontianak, Singkawang, Ketapang, KALTENG: Palangkaraya, Sampit, KALSEL: Banjarmasin, Banjarbaru, KALTIM: Samarinda, Tarakan, Balikpapan, Bontang, Nunukan" href="products/pv:22" xtclib="index_KALBAR_KALTENG_KALSEL_KALTIM_text">Kalimantan</a> </div>
                            </div>
                            <div class="RegionList">
                              <div class="RegionBox clearfix"> <a id="area_14" onmouseover="change_image(14,1);" onMouseOut="hide_image(14,1);" alt="MALUT: Ternate, Tidore, Jailolo, AMBON: Ambon, Dobo, Namlea, PAPARAT: Fak-Fak, Sorong, Manokwari, Bintuni, Kaimana, PAPUA: Jayapura, Merauke, Biak, Timika, Nabire, Agats, Serui" title="MALUT: Ternate, Tidore, Jailolo, AMBON: Ambon, Dobo, Namlea, PAPARAT: Fak-Fak, Sorong, Manokwari, Bintuni, Kaimana, PAPUA: Jayapura, Merauke, Biak, Timika, Nabire, Agats, Serui" href="products/pv:28,29" xtclib="index_MALUT_AMBON_PAPARAT_PAPUA_text">Papua dan Maluku</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_15" onmouseover="change_image(15,1);" onMouseOut="hide_image(15,1);"  alt="RIAU: Dumai, Pakanbaru, KEPRI: Batam, Tanjung Pinang" title="RIAU: Dumai, Pakanbaru, KEPRI: Batam, Tanjung Pinang" href="products/pv:35" xtclib="index_RIAU_text">Riau dan Riau Kepulauan</a> </div>
                            </div>
                            <div class="RegionList">
                              <div class="RegionBox clearfix"> <a id="area_19" onmouseover="change_image(19,1);" onMouseOut="hide_image(19,1);"  alt="SUMSEL: Palembang, Prabumulih, Lahat, Baturaja, BABEL: Pangkal Pinang" title="SUMSEL: Palembang, Prabumulih, Lahat, Baturaja, BABEL: Pangkal Pinang" href="products/pv:42" xtclib="index_SUMSEL_BABEL_text">Sumatera Selatan</a> </div>
                              <div class="RegionBox clearfix"> <a id="area_20" onMouseOver="change_image(20,1);" onmouseout="hide_image(20,1);"  alt="SUMUT: Medan, Binjai, Padang Sidempuan, Pematangsiantar, Sibolga, Tanjung Balai, Tebing Tinggi" title="SUMUT: Medan, Binjai, Padang Sidempuan, Pematangsiantar, Sibolga, Tanjung Balai, Tebing Tinggi" href="products/pv:9" xtclib="index_SUMUT_text">Sumatera Utara</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="home-category-block clearfix" style='padding:0 25px;'>
                  <div class="sub-heading-block clearfix">
                    <h2 class="main-province-title">Pilih Kategori</h2>
                                <span class="more-categories-block"> <a href="javascript:;" id="view_more_category" >See all Categories</a> </span>
                    </div>
                  <ul class="home-category-list clearfix">
                                        <li> <a href="products/c:59">
                      <img src="/assets/422.83bcfd2db0d894c07b2ee6f6486d674d.jpg" class="upload-avatar" alt="[Image: mobile-icon.png]" title="mobile-icon.png" width="90" height="90" />                      </a>
                      <h3>Car</h3>
                    </li>
                                        <li> <a href="products/c:55">
                      <img src="/assets/417.2e8eb03a82eacf62d9bc7ba42987fc71.jpg" class="upload-avatar" alt="[Image: scooter-icon.png]" title="scooter-icon.png" width="90" height="90" />                      </a>
                      <h3>Motor dan Sekuter</h3>
                    </li>
                                        <li> <a href="products/c:40">
                      <img src="/assets/416.49f34fe68eb1a09f425bb5559f4cd32d.jpg" class="upload-avatar" alt="[Image: property-icon.png]" title="property-icon.png" width="90" height="90" />                      </a>
                      <h3>Property</h3>
                    </li>
                                        <li> <a href="products/c:78">
                      <img src="/assets/457.c5e2a9f128d73b94fc5a1116913a6f2d.jpg" class="upload-avatar" alt="[Image: instruments.png]" title="instruments.png" width="90" height="90" />                      </a>
                      <h3>Music Instruments</h3>
                    </li>
                                        <li> <a href="products/c:57">
                      <img src="/assets/420.de111994e3d7c062e7a625726431998d.jpg" class="upload-avatar" alt="[Image: fashion-icon2.png]" title="fashion-icon2.png" width="90" height="90" />                      </a>
                      <h3>Fashion Women</h3>
                    </li>
                                        <li> <a href="products/c:88">
                      <img src="/assets/490.78d6efa6623ec2781ccc425c051309fc.jpg" class="upload-avatar" alt="[Image: hp_2.png]" title="hp_2.png" width="90" height="90" />                      </a>
                      <h3>Handphone</h3>
                    </li>
                                        <li> <a href="products/c:58">
                      <img src="/assets/421.f1fdacb451ae5e248189d174549cadb9.jpg" class="upload-avatar" alt="[Image: fashion-icon.png]" title="fashion-icon.png" width="90" height="90" />                      </a>
                      <h3>Fashion Men</h3>
                    </li>
                                        <li> <a href="products/c:38">
                      <img src="/assets/413.0de89377061b84c600a89c28f60febcd.jpg" class="upload-avatar" alt="[Image: photography-icon.png]" title="photography-icon.png" width="90" height="90" />                      </a>
                      <h3>Photography</h3>
                    </li>
                                        <li> <a href="products/c:54">
                      <img src="/assets/415.a133682ff694d393ce53ebdb46bb0826.jpg" class="upload-avatar" alt="[Image: tv-icon.png]" title="tv-icon.png" width="90" height="90" />                      </a>
                      <h3>TV & Audio</h3>
                    </li>
                                        <li> <a href="products/c:62">
                      <img src="/assets/437.2e5166e40d2fcfed963d6ab386d6cf73.jpg" class="upload-avatar" alt="[Image: sepeda.png]" title="sepeda.png" width="90" height="90" />                      </a>
                      <h3>Sepeda dan Aksesoris</h3>
                    </li>
                                        <li> <a href="products/c:61">
                      <img src="/assets/436.8076ead4afd9357836cdbca61906dd33.jpg" class="upload-avatar" alt="[Image: buku.png]" title="buku.png" width="90" height="90" />                      </a>
                      <h3>Buku</h3>
                    </li>
                                        <li> <a href="products/c:80">
                      <img src="/assets/459.15ebd9f9028f249ce6d90ad687ca7913.jpg" class="upload-avatar" alt="[Image: movies.png]" title="movies.png" width="90" height="90" />                      </a>
                      <h3>Movies</h3>
                    </li>
                                      </ul>
                  <span id='more_Categories' style='display:none'><ul class='clearfix'>                  <li> <a href="products/c:74">
                    <img src="/assets/453.79075e5d9ee67b78c1f7693c6a89715e.jpg" class="upload-avatar" alt="[Image: garden.png]" title="garden.png" width="90" height="90" />                    </a>
                    <h3>Construction & Garden</h3>
                  </li>
                                    <li> <a href="products/c:83">
                    <img src="/assets/462.c743d4f438305d934ba42a296d684984.jpg" class="upload-avatar" alt="[Image: software.png]" title="software.png" width="90" height="90" />                    </a>
                    <h3>Computer Software</h3>
                  </li>
                                    <li> <a href="products/c:86">
                    <img src="/assets/465.86d632506274616cd52f68ffa28949ad.jpg" class="upload-avatar" alt="[Image: tool.png]" title="tool.png" width="90" height="90" />                    </a>
                    <h3>Tools</h3>
                  </li>
                                    <li> <a href="products/c:73">
                    <img src="/assets/452.5ac72b9cc65288d71b4eea9d909f665e.jpg" class="upload-avatar" alt="[Image: games.png]" title="games.png" width="90" height="90" />                    </a>
                    <h3>Game & Consoles</h3>
                  </li>
                                    <li> <a href="products/c:60">
                    <img src="/assets/430.c714c84c2a9e329416a2756c7be1c196.jpg" class="upload-avatar" alt="[Image: boat.png]" title="boat.png" width="90" height="90" />                    </a>
                    <h3>Boats</h3>
                  </li>
                                    <li> <a href="products/c:81">
                    <img src="/assets/460.046b63584aa66e2e0235fc6de61ee354.jpg" class="upload-avatar" alt="[Image: music.png]" title="music.png" width="90" height="90" />                    </a>
                    <h3>Music</h3>
                  </li>
                                    <li> <a href="products/c:56">
                    <img src="/assets/419.88b1c9f8162eb08e0c317e65cfda0a59.jpg" class="upload-avatar" alt="[Image: headphone-icon.png]" title="headphone-icon.png" width="90" height="90" />                    </a>
                    <h3>Handphone & Gadget</h3>
                  </li>
                                    <li> <a href="products/c:87">
                    <img src="/assets/466.21b37fab21a06d716ff409390eeac332.jpg" class="upload-avatar" alt="[Image: watches.png]" title="watches.png" width="90" height="90" />                    </a>
                    <h3>Jewelry & Watches</h3>
                  </li>
                                    <li> <a href="products/c:72">
                    <img src="/assets/451.48cf9af0a6845ea52154426b90c4e1d8.jpg" class="upload-avatar" alt="[Image: food.png]" title="food.png" width="90" height="90" />                    </a>
                    <h3>Food & Drinks</h3>
                  </li>
                                    <li> <a href="products/c:66">
                    <img src="/assets/445.07fc75b319a4665b04d7dc4b6865720f.jpg" class="upload-avatar" alt="[Image: art.png]" title="art.png" width="90" height="90" />                    </a>
                    <h3>Handicraft</h3>
                  </li>
                                    <li> <a href="products/c:76">
                    <img src="/assets/455.93a5ea4c27b5673e7962f863cb853131.jpg" class="upload-avatar" alt="[Image: holiday.png]" title="holiday.png" width="90" height="90" />                    </a>
                    <h3>Holiday & Travel</h3>
                  </li>
                                    <li> <a href="products/c:79">
                    <img src="/assets/458.4738732609083bd85d2cb899ea6bab60.jpg" class="upload-avatar" alt="[Image: jobs.png]" title="jobs.png" width="90" height="90" />                    </a>
                    <h3>Jobs</h3>
                  </li>
                                    <li> <a href="products/c:77">
                    <img src="/assets/456.be2e197eabb998d9ca93ddb4a2e91e97.jpg" class="upload-avatar" alt="[Image: hpaccessories.png]" title="hpaccessories.png" width="90" height="90" />                    </a>
                    <h3>Handphone Accessories</h3>
                  </li>
                                    <li> <a href="products/c:70">
                    <img src="/assets/449.c6641fcdcdc69d2309c9d76a852b190b.jpg" class="upload-avatar" alt="[Image: collection.png]" title="collection.png" width="90" height="90" />                    </a>
                    <h3>Collection</h3>
                  </li>
                                    <li> <a href="products/c:67">
                    <img src="/assets/446.f0285c830198364f3b16b38f89fe06b4.jpg" class="upload-avatar" alt="[Image: art2.png]" title="art2.png" width="90" height="90" />                    </a>
                    <h3>Art</h3>
                  </li>
                                    <li> <a href="products/c:42">
                    <img src="/assets/414.f5c0452d85bccbb4a39a2bd7a7de2bd1.jpg" class="upload-avatar" alt="[Image: computer-icon.png]" title="computer-icon.png" width="90" height="90" />                    </a>
                    <h3>Computers</h3>
                  </li>
                                    <li> <a href="products/c:68">
                    <img src="/assets/447.1798a0d0ea858394b48a08be38cf4273.jpg" class="upload-avatar" alt="[Image: business-opportunities.png]" title="business-opportunities.png" width="90" height="90" />                    </a>
                    <h3>Business Opportunities</h3>
                  </li>
                                    <li> <a href="products/c:75">
                    <img src="/assets/454.1de6616817e5c49e7c795f315fce6081.jpg" class="upload-avatar" alt="[Image: health.png]" title="health.png" width="90" height="90" />                    </a>
                    <h3>Health & Beauty</h3>
                  </li>
                                    <li> <a href="products/c:85">
                    <img src="/assets/464.40c2bcc39802e1908ef4ea65ac3183fc.jpg" class="upload-avatar" alt="[Image: sport2.png]" title="sport2.png" width="90" height="90" />                    </a>
                    <h3>Sport</h3>
                  </li>
                                    <li> <a href="products/c:63">
                    <img src="/assets/438.e2f6594d98ca428719ad77a90340e6ba.jpg" class="upload-avatar" alt="[Image: baby.png]" title="baby.png" width="90" height="90" />                    </a>
                    <h3>Anak dan Bayi</h3>
                  </li>
                                    <li> <a href="products/c:65">
                    <img src="/assets/444.926ce426d43308bdd932ef54e83df06d.jpg" class="upload-avatar" alt="[Image: animals.png]" title="animals.png" width="90" height="90" />                    </a>
                    <h3>Pets and Supplies</h3>
                  </li>
                                    <li> <a href="products/c:71">
                    <img src="/assets/450.3329d692971d0553ca6f71c82785e1d0.jpg" class="upload-avatar" alt="[Image: electronics.png]" title="electronics.png" width="90" height="90" />                    </a>
                    <h3>Electronics</h3>
                  </li>
                                    <li> <a href="products/c:64">
                    <img src="/assets/443.30810b8ac78e01e41ec0cec8d421efa9.jpg" class="upload-avatar" alt="[Image: car.png]" title="car.png" width="90" height="90" />                    </a>
                    <h3>Car Parts & Accessories</h3>
                  </li>
                                    <li> <a href="products/c:53">
                    <img src="/assets/418.bb6a6ebf90dde9d3b4c9d4e5d27780a2.jpg" class="upload-avatar" alt="[Image: cup-icon.png]" title="cup-icon.png" width="90" height="90" />                    </a>
                    <h3>Home Supplies</h3>
                  </li>
                                    <li> <a href="products/c:82">
                    <img src="/assets/461.d29cad7166e02d7c9b525b5270478613.jpg" class="upload-avatar" alt="[Image: others.png]" title="others.png" width="90" height="90" />                    </a>
                    <h3>Others</h3>
                  </li>
                  </ul></span>                                  </div>




                  </div>





                </div>






        </div><!--/row-->

        <div id='banner' class='container' style='margin:20px auto;'>
          <%= image_tag '/assets/banner.png', :style => 'width:100%;' %>
        </div>

      <div id="footer">
        <div class="footer-inner container_12 clearfix">
          <div class="clearfix">
            <div class="row-fluid">
            <div class="span4">
              <h6>About Us</h6>
                <p><p style="text-align: left;">Jualo.com adalah pusat jual beli online termudah dan tercepat di Indonesia. Pasang iklan di Jualo hanya perlu 1 menit saja dan iklan anda langsung online.a. Pasang iklan di Jualo hanya perlu 1 menit saja a. Pasang iklan di Jualo hanya perlu 1 menit saja </p></p>
            </div>
            <div class="span2">
              <h6>Navigation</h6>
              <ul class="about" style='margin: 0 0 10px 0;'>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/page/about" title="Tentang Kami">Tentang Kami</a></li>
                <li><a href="/page/services" title="Services">Services</a></li>
                <li><a href="/page/sitemap" title="Sitemap">Sitemap</a></li>
                <li><a href="/contact" class="js-thickbox" title="Hubungi Kami">Hubungi Kami</a></li>
              </ul>
            </div>
            <div class="span2">
              <h6>Follow us on</h6>
              <ul class="twitter clearfix" style='margin: 0 0 10px 20px;'>
                <li class="face"><a href="http://facebook.com/jualocom" target="_blank" title="Ikuti saya di Facebook">Facebook</a></li>
                <li class="twit"><a href="http://twitter.com/productmicropay" target="_blank" title="Ikuti saya di Twitter">Twitter</a></li>
              </ul>
              <h6>Other links</h6>
              <ul class="about" style='margin: 0 0 10px 20px;'>
                <li><a href="/page/terms" title="Term">Term</a></li>
                <li><a href="/page/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="span2">
              <h6>Contact Us</h6>
              <ul class="contact-links clearfix" style='margin: 0 0 10px 20px;'>
                <li class="phone"><a href="#" title="1-875-216-9212">1-875-216-9212</a></li>
                <li class="mail"><a href="mailto:info@joalo.com" title="info@joalo.com">info@joalo.com</a></li>
              </ul>
            </div>
            <div class="span2">
              <div style ='width:90%;max-width:160px;'>
                <h6 class="footer-logo" style='margin-top: -10px;'><a href="/" title="  Jual dalam 1 menit" class=""><%= image_tag '/assets/footer-logo.png'%></a></h6>
                <div class="clearfix" id="agriya">
                  <p>&copy;2013 <a href="http://jualo.com/" title="Jualo">jualo.com</a>. <br />All rights reserved.</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  </div> <!-- /container -->
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      $("#view_more_provinces").click(function(){
        if($("#view_more_provinces").html()=="See all Provinces"){
          $("#view_more_provinces").html("See less Provinces");
          document.getElementById("view_more_provinces").className="up-arrow";
        }
        else{
          $("#view_more_provinces").html("See all Provinces");
          document.getElementById("view_more_provinces").className="";
        }
        $("#more_provinces").slideToggle("slow");
      });
      $("#view_more_category").click(function(){
        if($("#view_more_category").html()=="See all Categories"){
          $("#view_more_category").html("See less Categories");
          document.getElementById("view_more_category").className="up-arrow";
        }
        else{
          $("#view_more_category").html("See all Categories");
          document.getElementById("view_more_category").className="";
        }
        $("#more_Categories").slideToggle("slow");
      });
    </script>
  </body>
</html>
